/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  background-color: #223f22;
  position: relative;
}
p {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 590px) {
  .wrapper {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 24% 42% 34%;
  }
}
@media only screen and (min-width: 1200px) and (min-height: 865px) {
  .wrapper {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 24% 42% 34%;
  }
}
@media only screen and (min-width: 1200px) and (aspect-ratio: 1/1) {
  .wrapper {
    width: 83%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 24% 42% 34%;
  }
}
@media only screen and (min-width: 1200px) and (aspect-ratio: 5/4) {
  .wrapper {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 24% 42% 34%;
  }
}
@media only screen and (min-width: 1200px) and (aspect-ratio: 16/9) {
  .wrapper {
    width: 83%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 24% 42% 34%;
  }
}
@media only screen and (min-width: 1200px) {
  .main-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    -ms-background-image: url(../img/bg&forma2.png);
    background-image: url(../img/bg&forma2.png);
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-position: center;
    background-position: center;
    -ms-background-size: cover ;
    background-size: cover ;
  }
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
@media only screen and (min-width: 1200px) {
  .header {
    width: 100%;
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(157, 250, 155, 0.5);
  }
}
@media only screen and (min-width: 1200px) {
  .header__discount {
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: #ebc829;
    font-size: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .header__heding {
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 26px;
  }
}
.form-wpapper {
  background-color: rgba(33, 138, 194, 0.5);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}
@media only screen and (min-width: 1200px) {
  .form {
    width: 34%;
    background-color: rgba(250, 155, 155, 0.5);
  }
}
.content {
  width: 100%;
  background-color: rgba(168, 155, 250, 0.5);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.professor-info {
  width: 35%;
  background-color: rgba(33, 178, 194, 0.5);
  padding-top: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  color: #fff;
}
.rekvizit {
  width: 22%;
  background-color: rgba(194, 33, 188, 0.5);
}
.professor-info__slider {
  width: 43%;
  background-color: rgba(183, 194, 33, 0.5);
}
.professor-info__heding {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
.professor-info__text p {
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}
