html, body {
	height: 100%;
	min-width: 320px;
}

html {
	font-size: 10px;
	line-height: 1.4;
}

body {
	font-size: 1.6rem; /* 10px * 1.6 = 16px */
	background-color: #223f22;
	position: relative;
}

p {
	font-size: 14px;
	line-height: 22px;
	color: #000;
	@media only screen and (min-width : 768px) {
 		font-size: 16px;
		line-height: 28px;
	}
}
.wrapper{
	
	@media only screen and (min-width : 1200px) and (min-height: 590px) {
		width: 60%;
		height: 100vh;
		margin: 0 auto;
		display: grid;
		grid-template-rows: 24% 42% 34%;
	}
	@media only screen and (min-width : 1200px) and (aspect-ratio: 5/4) {
		width: 75%;
		height: 100vh;
		margin: 0 auto;
		display: grid;
		grid-template-rows: 24% 42% 34%;
	}
	@media only screen and (min-width : 1200px) and (min-height: 865px) {
		width: 75%;
		height: 100vh;
		margin: 0 auto;
		display: grid;
		grid-template-rows: 24% 42% 34%;
	}
	@media only screen and (min-width : 1200px) and (aspect-ratio: 1/1) {
		width: 83%;
		height: 100vh;
		margin: 0 auto;
		display: grid;
		grid-template-rows: 24% 42% 34%;
	}
	// @media only screen and (min-width : 1200px) and (min-height: 1024px) {
	// 	width: 83%;
	// 	height: 100vh;
	// 	margin: 0 auto;
	// 	display: grid;
	// 	grid-template-rows: 24% 42% 34%;

	// }
// 760px

}
.main-bg{
	@media only screen and (min-width : 1200px) {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		min-width:100%;
	   	// height:100vh;
		-ms-background-image: url(../img/bg&forma2.png);
			background-image: url(../img/bg&forma2.png);
		-ms-background-repeat: no-repeat;
			background-repeat: no-repeat;
		-ms-background-position: center;
			background-position: center;
		-ms-background-size: cover ;
			background-size: cover ;
		// background-attachment: fixed;
	}
}



// .section{
// 		padding-top: 35px;
// 		padding-bottom: 40px;
//  	@media only screen and (min-width : 768px) {
//  		padding-top: 50px;
// 		padding-bottom: 60px;
// 	}
// 	@media only screen and (min-width : 1200px) {
//  		padding-top: 74px;
// 		padding-bottom: 90px;
// 	}
// }
// .section--bottom-line{
// 	border-bottom: 1px solid #e9eff3;
// }
// .section--bg-laptop{
// 	@media only screen and (min-width : 1490px) {
// 		background-image: url(../img/bg/laptop.png);
// 		background-repeat: no-repeat;
// 		background-position: right 70%;
// 	}
// }
// .section--bg-gear{
// 	@media only screen and (min-width : 1490px) {
// 		background-image: url(../img/bg/gear.png);
// 		background-repeat: no-repeat;
// 		background-position: left 55%;
// 	}
// }
// .section--bg-cloud{
// 	@media only screen and (min-width : 1490px) {
// 		background-image: url(../img/bg/cloud.png);
// 		background-repeat: no-repeat;
// 		background-position: right 70%;
// 	}
// }
// .section--padding-smaller{
// 	padding-top: 30px;
// 	padding-bottom: 35px;
// 	@media only screen and (min-width : 768px) {
//  		padding-top: 50px;
// 		padding-bottom: 60px;
// 	}
// 	@media only screen and (min-width : 1200px) {
//  		padding-top: 65px;
// 		padding-bottom: 67px;
// 	}
// }






/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
@media only screen and (max-width : 1200px) {
	
}

/* Medium Devices, Desktops - adaptive styles bofore 992px */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets - adaptive styles bofore 768px */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones - adaptive styles bofore 480px */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina - adaptive styles bofore 320px */
@media only screen and (max-width : 320px) {

}